@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

body {
  font-family: "RobotoLocal";
}

img {
  width: 100%;
  height: auto;
}

/* header */
.header-wrapper {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 35px;
}

.logo-image {
  width: 100%;
  height: auto;
}

.hamburger {
  height: 60px;
  width: 60px;
  background-color: blueviolet;
  position: relative;
}

/* まんなかの棒 */
.hamburger__line {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: calc((60px - 2px) / 2);
  left: calc((60px - 30px) / 2);
}
/* 上の棒 */
.hamburger__line::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  top: -10px;
}
/* 下の棒 */
.hamburger__line::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  top: 10px;
}

.global-nav {
  display: none;
}

.global-nav__list {
  display: flex;
  align-items: center;
  height: 80px;
}

.global-nav__item {
  font-size: 20px;
  margin-left: 20px;
}

.global-nav__item--current {
  border-bottom: 2px solid blueviolet;
}

/* footer */
footer {
  background: #333;
  padding: 0 20px;
}

.copyright {
  padding: 40px 0;
  font-size: 16px;
  color: white;
}

.site-nav__item a {
  display: block;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
  border-bottom: 1px solid gray;
  padding: 20px 0;
}
