@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

body {
  font-family: "RobotoLocal";
}

img {
  width: 100%;
  height: auto;
}

.header-wrapper {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 35px;
}

.logo-image {
  width: 100%;
  height: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-item {
  font-size: 20px;
  margin-left: 20px;
}
